*__pycache__*
*.DS_Store
*.png
*.csv
*.pyc
*.lock
*.txt
*.pt
*Results/*
*.zip
Dataset/*
*.nfs*
*checkpoint*
*/Graphs
**/wandb
.ipynb_checkpoints/*
*.sh
*mycache/*
.idea/*
data/
db/
Utils_/
*.gif
*logs*
*.ckpt*
Figures/*
/utils/
/venv/
*train2.py
*train3.py
*train4.py
*/Histograms/*
